@{
    object MsgCount = HttpContext.Current.Session["zhCNUnReadMsgCount"] == null ? 0 : HttpContext.Current.Session["zhCNUnReadMsgCount"];
    object TradePasswordIsSet = HttpContext.Current.Session["TradePasswordIsSet"];
}
<!DOCTYPE html>
<html lang="zh-CN" class="h100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/reset.css" rel="stylesheet" />
    <link href="/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/itzhang.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    
    <script src="/Scripts/vue.js"></script>
    
    <script src="~/Scripts/lib/qrCode.js"></script>
    <script src="/Scripts/Simple-code.js"></script>
    <script src="/Scripts/server.js"></script>

    @RenderSection("css", required: false)
 
</head>
<body class="bg-f5f5f5" >
    <span id="layoutTitle" class="d-s-none">@ViewBag.Title</span>

    <div id="layout" class="h100 w100">
        <div class="w100 layoutbox ">
            <nav class="navbar ps-fixed w100 t-0 bg-255 " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header h-60">
                        <button type="button" class="navbar-toggle m-t-6 border-none r-0 c-000 " data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bg-004a7c"></span>
                            <span class="icon-bar bg-004a7c"></span>
                            <span class="icon-bar bg-004a7c"></span>
                        </button>
                        <div class="c-255 f-s-14 ps-fixed t-12 l50 translateX-50">
                            @ViewBag.Title
                        </div>

                        @*<a class="navbar-brand ">
                            <i class="navAsideIcon navAsideToggle"></i>
                        </a>*@
                        <a class="acoountSet m-t-6 p-l-14 " href="../Account/MyInvitation">
                            <img class="w-32" src="~/images/Img/accountSet.png"/>
                        </a>

                    </div>
                    
                    <div class="collapse navbar-collapse c-000 text-center w100" id="example-navbar-collapse">
                       
                        <div id="navPcContent">
                           
                            <div class="ps-fixed l50 translateX-50 centerTitle t-12">
                               
                                <i class="navAsideIcon navAsidesjlm ps-relative t-6"></i>
                                <span >VC商家联盟</span>

                                <i class="navAsideIcon navAsideJrdg ps-relative t-6"></i>
                               @* <img class="ps-relative m-t--4 w-40 h-20" src="~/images/Img/logo-nnnn.png" />*@
                                <span>VS金融帝国</span>
                            </div>

                            <div class="ps-fixed r-64 t-12" id="navvv">
                                <div class="dropdown d-s-i-b m-r-22">
                                    <button class="btn dropdown-toggle bg-255 p-0 border-none" type="button" id="dropdownMenuLang" data-toggle="dropdown">
                                        <img src="~/images/Img/chnai.png" class="w-24 h-24" alt="Alternate Text" />
                                        <span>中文</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu p-lr-12 p-t-16 p-b-16" id="layoutLang" role="menu" aria-labelledby="dropdownMenuLang">
                                        <li role="presentation" class="w-172 h-40">
                                            <a class="h-30 p-0 p-t-2 p-l-6" onclick="SwithLang('zh-CN')">
                                                <img src="~/images/Img/chnai.png" alt="" class="f-l w-24 h-24 d-s-i-b" />
                                                <span class="f-l f-s-12 m-l-8" role="menuitem" tabindex="-1">中文</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="w-172 h-40">
                                            <a class="h-30 p-0 p-t-2 p-l-6" onclick="SwithLang('en-US')">
                                                <img src="~/images/Img/america.png" alt="" class="f-l w-24 h-24 d-s-i-b" />
                                                <span class="f-l f-s-12 m-l-8" role="menuitem" tabindex="-1">English</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="w-172 h-40">
                                            <a class="h-30 p-0 p-t-2 p-l-6" onclick="SwithLang('id-ID')">
                                                <img src="~/images/Img/id.png" alt="" class="f-l w-24 h-24 d-s-i-b" />
                                                <span class="f-l f-s-12 m-l-8" role="menuitem" tabindex="-1">ID</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                @*<div class="m-r-22 d-s-i-b">
                                    <i class="navAsideIcon navAsideCursome ps-relative t-6"></i>
                                    <span>客服</span>
                                </div>*@

                                <a href="../News/Notify" class="m-r-22 d-s-i-b">
                                    <i class="navAsideIcon navAsideNotice ps-relative t-6"></i>
                                    <span class="redCircle ps-relative"></span>
                                    <span>通知</span>
                                </a>

                                <div class="dropdown d-s-i-b">
                                    <button class="btn dropdown-toggle bg-255 p-0 border-none" type="button" id="dropdownMenuAccount" data-toggle="dropdown">

                                        <img src="@Session["Logo"]" class="w-24 h-24 border-radius50" alt="Alternate Text" />
                                        <span>@User.Identity.Name</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu p-lr-12 p-tb-6 text-left" role="menu" aria-labelledby="dropdownMenuAccount">
                                        <li role="presentation">
                                            <span>直购等级:</span>
                                            <span id="navPackageLevel"></span>
                                        </li>
                                        <li role="presentation">
                                            <span>直代等级:</span>
                                            <span id="navGenerationLevel"></span>
                                        </li>
                                        <li role="presentation">
                                            <span >联队级别:</span>
                                            <span id="navLeaderLevel"></span>
                                        </li>
                                        <li class="m-t-6" role="presentation" onclick="TakeUserInfo()" data-toggle="modal" data-target="#personalModal">
                                            <a class="p-0 p-t-6 p-l-6 " role="menuitem" tabindex="-1">
                                                <i class="navAsideIcon navAsidePerson m-r-6"></i>个人信息</a>
                                        </li>
                                        <li class="m-t-6" role="presentation" onclick="TakeUserInfo()" data-toggle="modal" data-target="#accountModal">
                                            <a class="p-0 p-t-6 p-l-6" href="#" role="menuitem" tabindex="-1">
                                                <i class="m-r-10 navAsideIcon navAsideAccount m-r-6"></i>账户设置</a>
                                        </li>

                                        <li class="m-t-6" role="presentation">
                                            <a class="p-0 p-t-6 p-l-6" onclick="Logout()" role="menuitem" tabindex="-1">
                                                <i class="m-r-10 navAsideIcon navAsideExit m-r-6"></i>退出</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div id="navMoblieContent" class="text-left">
                            <div class="navMoblieContentList">
                                <a class="p-lr-22 ps-relative h-44 l-h-44 d-s-block" href="../Account/General">
                                    <img src="~/images/icon/mNavIndex.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                    <span class="f-s-14 c-000">首页</span>
                                    <img class="ps-absolute r-16 w-8 h-16 t-12" src="~/images/arrow-right.png" />
                                    <div class="clear mNavSplit"></div>
                                </a>
                                <a class="p-lr-22 ps-relative h-44 l-h-44 d-s-block" href="../Finance/Package">
                                    <img src="~/images/icon/mNavTransfer.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                    <span class="f-s-14 c-000">兑换VC</span>
                                    <img class="ps-absolute r-16 w-8 h-16 t-12" src="~/images/arrow-right.png" />
                                    <div class="clear mNavSplit"></div>
                                </a>
                                <a class="p-lr-22 ps-relative h-44 l-h-44 d-s-block" href="../Account/Entry?Inviter=@User.Identity.Name">
                                    <img src="~/images/icon/mNavRegister.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                    <span class="f-s-14 c-000">用户注册</span>
                                    <img class="ps-absolute r-16 w-8 h-16 t-12" src="~/images/arrow-right.png" />
                                    <div class="clear mNavSplit"></div>
                                </a>
                                @*<a class="p-lr-22 ps-relative h-44 l-h-44 d-s-block" href="../Share/VTS">
                                    <img src="~/images/icon/mNavVTS.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                    <span class="f-s-14 c-000">区块股VTS</span>
                                    <img class="ps-absolute r-16 w-8 h-16 t-12" src="~/images/arrow-right.png" />
                                    <div class="clear mNavSplit"></div>
                                </a>*@
                                <div class="p-lr-22 ps-relative m-t-10">
                                    <div>
                                        <img src="~/images/icon/mNavCaiWu.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                        <span class="f-s-14 c-000">财务中心</span>
                                    </div>
                                    <div class="mNavTwoHref">
                                        <a href="../Finance/Exchange">币兑币</a>
                                        <a href="../Finance/Overview">分红概况</a>
                                        <a href="../Finance/Transfer">钱包转账</a>
                                        <a href="../Finance/Income">分红明细</a>
                                        <a href="../Finance/Withdraw">提现</a>
                                    </div>
                                    <div class="clear mNavSplit  m-t-10"></div>
                                </div>
                                <div class="p-lr-22 ps-relative m-t-10">
                                    <div>
                                        <img src="~/images/icon/mNavTeam.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                        <span class="f-s-14 c-000">联队分布</span>
                                    </div>
                                    <div class="mNavTwoHref">
                                        <a href="../RelationShip/Form">联队表单</a>
                                        <a href="../RelationShip/Achievement">联队业绩</a>
                                        <a href="../RelationShip/FormView">联队导图</a>
                                    </div>
                                    <div class="clear mNavSplit  m-t-10"></div>
                                </div>
                                <a class="p-lr-22 ps-relative h-44 l-h-44 d-s-block" href="../Account/Feedback">
                                    <img src="~/images/icon/mNavMessasge.png" class="m-r-12 d-s-i-b w-12 h-12" />
                                    <span class="f-s-14 c-000">留言</span>
                                    <img class="ps-absolute r-16 w-8 h-16 t-12" src="~/images/arrow-right.png" />
                                    <div class="clear mNavSplit"></div>
                                </a>
                            </div>
                            
                        </div>

                        </div>
                </div>
            </nav>

            <div class=" body-content w100">
                @RenderBody()
            </div>

        </div>

        @*侧边栏*@
        <aside class="h100 w-240 bg-004a7c f-l navAside ps-fixed t-0" style="overflow-y:auto">
          
            <div class="text-center m-t-26 asideLogo">
                <i class="navAsideIcon navAsideLogo"></i>
              @*  <img src="/images/blockchain-wrate-text.png" class="w-172 h-14 m-t-4">*@
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel">
                    <div class="panel-heading" href="#collapseOne">
                        <a href="../Account/General">
                            @*<i class="navAsideIcon navAsideIndex m-r-22 ps-relative t-6"></i>*@
                            <img src="~/images/icon/index.png" class="m-r-22" />首页
                        </a>
                            
                        
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <a href="../Finance/Package">
                            @*<i class="navAsideIcon navAsideTransferVC m-r-22 ps-relative t-6"></i>*@
                            <img src="~/images/icon/duihuanvc.png" class="m-r-22" />兑换VC

                        </a>
                        
                    </div>

                </div>
                <div class="panel">
                    <div class="panel-heading" href="#collapseThree">
                        <a href="../Account/Entry?Inviter=@User.Identity.Name">
                            <i class="navAsideIcon navAsideRegister m-r-22 ps-relative t-6"></i>用户注册
                        </a>
                            @*<img src="~/images/icon/index.png" class="m-r-22" />*@
                    </div>
                </div>
                @*<div class="panel">
                    <div class="panel-heading" href="#collapseFour">
                        <a href="../Share/VTS">
                        <i class="navAsideIcon navAsideTransferVTS m-r-22 ps-relative t-6"></i>
                            <img src="~/images/icon/qukuaigu.png" class="m-r-22" />区块股VTS
                        </a>
                    </div>
                </div>*@
                <div class="panel">
                    <div class="panel-heading" >
                        <a href="../Finance/Overview"> <i class="navAsideIcon navAsideTransferCaiwu m-r-22 ps-relative t-6"></i>财务中心</a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../Finance/Exchange">币兑币</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../Finance/Transfer">钱包转账</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../Finance/Overview">分红概况</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../Finance/Income">分红明细</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../Finance/Withdraw">提现</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <a href="../RelationShip/Form">
                        @*<i class="navAsideIcon navAsideTransferLiandui m-r-22 ps-relative t-6"></i>*@
                            <img src="~/images/icon/liandui.png" class="m-r-22" />联队分布
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../RelationShip/Form">联队表单</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../RelationShip/Achievement">联队业绩</a>
                        </div>
                        <div class="panel-body">
                            <a class="d-s-i-b w100" href="../RelationShip/FormView">联队导图</a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading" href="#collapse7">
                        <a href="../Account/Feedback">
                        @*<i class="navAsideIcon navAsideTransferLiuyan m-r-22 ps-relative t-6"></i>*@
                            <img src="~/images/icon/notice.png" class="m-r-22" />留言</a>
                    </div>
                </div>
            </div>

        </aside>

        <!-- 账户设置（Modal） -->
        <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ps-absolute t50 l50"style="transform: translate(-50%,-50%);">
                <div class="modal-content p-28">
                    <div class="modal-header border-none">
                        <button type="button" class="close f-s-28" data-dismiss="modal" aria-hidden="true">
                            <i class="accountModalIcon modalCloseIcon"></i>
                        </button>
                        <h4 class="modal-title c-000 f-s-24" id="myModalLabel">账户设置</h4>
                        <div class="f-s-12 m-t-16 f-s-14 c-666">对您的账户进行安全设置！</div>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled w100 row text-center b-b-e1e1e1">
                            <li class="d-s-i col-lg-4 col-md-4 col-xs-4 col-sm-4 ">
                                <a class="d-s-i-b c-000 p-b-10 f-s-18 p-lr-12 b-b-000 accountTabsBtn" onclick="accountModalTabs(0)">登录密码</a>
                            </li>                   
                            <li class="d-s-i col-lg-4 col-md-4 col-xs-4 col-sm-4 ">
                                <a class="d-s-i-b c-000 p-b-10 f-s-18 p-lr-12 accountTabsBtn" onclick="accountModalTabs(1)">交易密码</a>
                            </li>                   
                            <li class="d-s-i col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                <a class="d-s-i-b c-000  p-b-10 f-s-18 p-lr-12 accountTabsBtn" onclick="accountModalTabs(2)">谷歌认证</a>
                            </li>
                        </ul>

                        <div class="accountModalTabs">
                            <div class="p-40">
                                <div class="accountModalTab">
                                    <div class="f-s-14">原密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="OldePassword" placeholder="请输入原登录密码" />
                                </div>
                                <div class="m-t-40 accountModalTab">
                                    <div class="f-s-14">新密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="newPassword" placeholder="请输入新的登录密码" />
                                </div>
                                <div class="m-t-40 accountModalTab">
                                    <div class="f-s-14">确认密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="ConfirmNewPassword" placeholder="重复新的登录密码" />
                                </div>
                                <div class="text-right m-t-10">
                                    <a href="../Account/Entry?ForgotPassword=true" class="c-10ADE4 f-s-14">忘记密码</a>
                                </div>
                                <div class="c-red text-center" id="ChangeLoginPassword"></div>
                                <button class="m-t-30 bg-10ADE4 text-center c-255 w100 d-s-i-b h-40 border-none" onclick="ChangeLoginPassword()">提交</button>
                            </div>
                        </div>

                        <div class="accountModalTabs d-s-none">
                            <div class="p-40">
                                <div class="accountModalTab">
                                    <div class="f-s-14 traPasswodIsSet">登录密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1 traPasswodPlachole" type="password" name="name" id="OldPassword" placeholder="登录密码" />
                                </div>
                                <div class="m-t-40 accountModalTab">
                                    <div class="f-s-14">交易密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="Password" placeholder="交易密码" />
                                </div>
                                <div class="m-t-40 accountModalTab">
                                    <div class="f-s-14">确认交易密码:</div>
                                    <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="ConfirmPassword" placeholder="确认交易密码" />
                                </div>
                                <div class="text-right m-t-10">
                                    <a onclick="showForgotTradePass()" data-toggle="modal" data-target="#ForgotTradePasswordModal" class="c-10ADE4 f-s-14">忘记交易密码</a>
                                </div>
                                <div class="c-red text-center" id="InitTradePasswordAlertBox"></div>
                                <button class="m-t-30 bg-10ADE4 text-center c-255 w100 d-s-i-b h-40 border-none" onclick="InitTradePassword()">提交</button>
                            </div>
                        </div>

                        <div class="accountModalTabs d-s-none">
                            <div class="p-40">
                               <div id="accountModalGoogleToken" class="w100" style="width:300px;"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交更改</button>
                    </div>*@
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        @*个人信息*@
        <div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ps-absolute t50 l50"style="transform: translate(-50%,-50%);">
                <div class="modal-content p-28">
                    <div class="modal-header">
                        <button type="button" class="close f-s-28" data-dismiss="modal" aria-hidden="true">
                            <i class="accountModalIcon modalCloseIcon"></i>
                        </button>
                        <h4 class="modal-title c-000 f-s-24" id="myModalLabel">编辑个人资料</h4>
                        <div class="f-s-12 m-t-16 f-s-14 c-666">请填写您的个人信息</div>
                    </div>
                    <div class="modal-body">
                        <div class="m-b-30 text-center">
                            <a class="p-t-14 p-l-14 d-s-block uploaderBtn">
                                <img class="w-106 border-radius50" id="layoutLogo" src="@Session["Logo"]" />
                            </a>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>ID</div>
                                <div>
                                    <input type="text" id="changePersonID" class="bg-f5f5f5 c-666 border-radius-4 border-none h-40 p-l-14" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>邮箱</div>
                                <div>
                                    <input type="text" id="changePersonEmail" class="bg-f5f5f5 c-666 border-radius-4 border-none h-40 p-l-14" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                       
                        <div class="row m-t-20">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>昵称</div>
                                <div>
                                    <input type="text" id="changePersonNickName" class="border-radius-4 bor-e1e1e1 h-40 p-l-14"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>手机</div>
                                <div>
                                    <input type="text" id="changePersonPhone" class="bg-f5f5f5 c-666 border-radius-4 border-none h-40 p-l-14"/>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row m-t-20">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>地址</div>
                                <div>
                                    <input type="text" id="changePersonAddr" class="border-radius-4 bor-e1e1e1 h-40 p-l-14"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div>生日</div>
                                <div class="iDate date stateDate m-b-3 bor-e1e1e1 border-radius-4 bor-e1e1e1 h-40 p-l-14 w100">
                                    <input type="text" class="c-alalal stateInput m-t-6" id="changePersonBirthDay">
                                    <button type="button" class="addOn c-alalal"></button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="m-t-40 ">
                            <div class="text-center c-red" id="UpdateUserInfoAlertBox"></div>
                            <button class="d-s-block w100 h-40 bg-10ADE4 c-255 border-none border-radius-4 m-t-16" onclick="UpdateUserInfo()">保存</button>
                        </div>
                        

                    </div>
                  
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        @*忘记交易密码*@
        <div class="modal fade" id="ForgotTradePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ps-absolute t50 l50" style="transform: translate(-50%,-50%);">
                <div class="modal-content p-28">
                    <div class="modal-header">
                        <button type="button" class="close f-s-28" data-dismiss="modal" aria-hidden="true">
                            <i class="accountModalIcon modalCloseIcon"></i>
                        </button>
                        <h4 class="modal-title c-000 f-s-24" id="myModalLabel">忘记交易密码</h4>
                       @* <div class="f-s-12 m-t-16 f-s-14 c-666">修改交易密码</div>*@
                    </div>
                    <div class="modal-body">
                        <div class="m-t-30 m-b-15">
                            <div class=" m-b-5">邮箱验证码</div>
                            <input type="text" class="p-lr-12 p-tb-6 h-40 w48 bor-e1e1e1" placeholder="请输入邮箱验证码" id="forgetNewPasswordCode">
                            <button class="c-255 border-none h-40 d-s-i-b w48 f-r bg-10ADE4 border-radius-4" id="SendForgotTradePasswordBtn" onclick="SendForgotTradePasswordEmail()">发送验证码</button>
                            <div class="c-red d-s-none" id="forgotPasswordCodeAlertBox"></div>
                        </div>
                        <div class="m-t-40 accountModalTab">
                            <div class="f-s-14">新交易密码:</div>
                            <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="newTradePassword" placeholder="新交易密码" />
                        </div>
                        <div class="m-t-40 accountModalTab">
                            <div class="f-s-14">确认新交易密码:</div>
                            <input class="h-40 w100 m-t-10 p-lr-12 bor-e1e1e1" type="password" name="name" id="ConfirmNewTradePassword" placeholder="确认新交易密码" />
                        </div>

                        <div class="m-t-40 ">
                            <div class="text-center c-red d-s-none h-40" id="ForgotTradePasswordAlertBox"></div>
                            <button class="d-s-block w100 h-40 bg-10ADE4 c-255 border-none border-radius-4" onclick="ForgotTradePassword()">重置交易密码</button>
                        </div>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>

    <span id="TradePasswordIsSet" class="d-s-none">@TradePasswordIsSet</span>
    <span id="MsgCount" class="d-s-none">@MsgCount</span>

    <div class="layoutFade" id="layoutFade" onclick="closeLayoutFade()"></div>
    <div class="layoutShowLoading" id="layoutShowLoading">
        <img src="~/images/icon/showLoading.gif" alt="Alternate Text" />
    </div>
    <div id="showTips">
        <span id="showTipsMsg"></span>
    </div>

    <link href="~/Content/chooseDate.css" rel="stylesheet" />
    <link href="~/Content/webuploader.css" rel="stylesheet" />
    <script src="~/Scripts/lib/webuploader.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
